<%= form_with(model: conversation, url: [@room, conversation]) do |form| %>
  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Title
    </legend>
    <%= form.text_field :title, class: "input" %>
  </fieldset>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">
      Description
    </legend>
    <%= form.text_area :description, class: "textarea" %>
  </fieldset>

  <div class="mt-4">
    <button type="submit" class="btn btn-primary">
      <%= conversation.new_record? ? "Create" : "Update" %> Conversation
    </button>
  </div>
<% end %>
