<div class="navbar shadow-xs sticky top-0 z-50 bg-base-100">
  <div class="flex-none">
    <a href="<%= room_path(@room) %>" class="btn btn-ghost btn-square">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left-icon lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
    </a>
  </div>
  <div class="flex-1">
    <div class="text-xl px-2">
      <%= @conversation.title.presence || "Untitled" %>
    </div>
  </div>
</div>

<div class="max-w-3xl mx-auto p-4">
  <div
    data-controller="conversation"
    data-conversation-completion-url-value="<%= room_conversation_completion_path(@room, @conversation) %>"
    >
    <div id="messages" class="min-h-screen mt-4" data-conversation-target="messages">
      <%= render partial: "messages/message", collection: @conversation.messages.order(created_at: :asc) %>
    </div>

    <div class="sticky bottom-0">
      <div class="max-w-screen-lg mx-auto pb-4">
        <div class="card bg-base-300 p-4">
          <form data-conversation-target="form" data-action="submit->conversation#completion:prevent">
            <input type="text" name="message[content]" class="input w-full" autocomplete="off">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
