<%# locals: (character:, size: :medium) %>

<%
  size_to_class = {
    small: "size-6",
    medium: "size-10",
    large: "size-40"
  }
%>

<div class="avatar">
  <div class="<%= size_to_class[size] %> rounded-full">
    <img src="<%= character_avatar_url(character) %>" alt="avatar">
  </div>
</div>
