<%# locals: (character:, size: :medium) %>

<%
  size_to_class = {
    small: "size-6",
    medium: "size-10",
    large: "size-40"
  }
%>

<div class="avatar">
  <div class="<%= size_to_class[size] %> rounded-full">
    <% if character.avatar.attached? %>
      <%= image_tag character.avatar.variant(:thumb) %>
    <% else %>
      <%= image_tag "icon.png" %>
    <% end %>
  </div>
</div>
