<li class="list-row hover:bg-base-200 items-center">
  <div>
    <%= render "shared/avatar", character: character %>
  </div>

  <div class="text-lg font-medium">
    <a href="<%= character_path(character) %>" class="block after:absolute after:inset-0">
      <%= character.name %>
    </a>
  </div>
</li>
