<li class="list-row hover:bg-base-200">
  <div>
    <%= render "shared/avatar", character: character %>
  </div>

  <div>
    <a href="<%= character_path(character) %>" class="block after:absolute after:inset-0">
      <div class="text-lg font-medium">
        <%= character.name %>
      </div>

      <div class="text-sm text-gray-500">
        <%= truncate character.description %>
      </div>
    </a>
  </div>
</li>
