<% content_for :title, "Editing persona" %>

<div class="breadcrumbs">
  <ul>
    <li>
      <a href="<%= personas_path %>">
        Personas
      </a>
    </li>
    <li>
      <a href="<%= persona_path(@persona) %>">
        <%= @persona.name %>
      </a>
    </li>
    <li>
      Edit persona
    </li>
  </ul>
</div>

<div class="mt-4">
  <%= render "form", persona: @persona %>
</div>
